AIRFLOW_HOME=/projects/apache_airflow
OPENAI_API_KEY=""
RECAPTCHA_PUBLIC_KEY=""
RECAPTCHA_PRIVATE_KEY=""
SECRET_KEY="d9f5d7e93ad3d21b8c364ab0e1141a71aa346a9f7b46901173fb5342ecde89b5"
MAIL_SERVER = 'smtp.gmail.com'
MAIL_USE_TLS = True
MAIL_USERNAME = 'yourappemail@gmail.com'
MAIL_PASSWORD = 'passwordformail'
MAIL_DEFAULT_SENDER = 'sender@gmail.com'
MAIL_PORT = 587

AIRFLOW__WEBSERVER__INSTANCE_NAME="Strivenn.AI"
AIRFLOW__WEBSERVER__NAVBAR_COLOR="#2a2d34"